/* For the Orbitron strategy game */
/* author: Stanton Parham */


.root {
    -fx-base: #222222;
    -fx-font-size: 10pt;
    -fx-font-family: "Orbitron";
    -fx-text-base-color: #FF8300;
    
    -fx-accent: #222222;
    -fx-default-button: #888888;
    -fx-focus-color: #AAAAAA;
    -fx-faint-focus-color: #AAAAAA;
}

.label {
    -fx-text-fill: #FF8300;
}

.accordion {
    -fx-background: #22222288;
    -fx-border-color: #FF8300;
}

.accordion .titled-pane .title {
   -fx-background-color: #000000AA;
}

.tooltip {
    -fx-text-fill: #FF8300;
}

.button {
    -fx-border-color: #FF8300;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.text-area {
    -fx-background-color: #333333;
    -fx-text-fill: #FF8300;
    -fx-font-size: 16pt;
}

.text-area .scroll-pane {
    -fx-background-color: #333333;
    /*-fx-text-fill: #FF8300;
    -fx-font-size: 16pt;
*/
}

.text-area .scroll-pane .viewport {
    -fx-background-color: #333333;
    -fx-text-fill: #FF8300;
    -fx-font-size: 16pt;
}

.text-area .scroll-pane .content {
    -fx-background-color: #333333;
    -fx-text-fill: #FF8300;
    -fx-font-size: 16pt;
}





/* PSEUDO CLASSES BELOW */

.button:focused {
    -fx-background-insets: 0, 0, 0, 0, 0;
}

.text-field:focused {
  -fx-background-color: transparent,-fx-box-border,-fx-control-inner-background;
  -fx-background-insets: 0, 0, 0;
  -fx-background-radius: 0, 0, 0;
}

.text-area:focused {
  -fx-background-color: transparent;
  -fx-background-insets: 0, 0, 0;
  -fx-background-radius: 0, 0, 0;
}

.scroll-pane:focused {
  -fx-background-color: transparent;
  -fx-background-insets: 0, 0, 0;
  -fx-background-radius: 0, 0, 0;
}

.choice-box:focused {
  -fx-background-color: transparent,-fx-box-border,-fx-control-inner-background;
  -fx-background-insets: 0, 0, 0;
  -fx-background-radius: 0, 0, 0;
}

.menu:hover {
    -fx-background-color: #AAAAAA;
}

.menu-item:hover {
    -fx-background-color: #AAAAAA;
}

.menu:armed {
    -fx-background-color: #AAAAAA;
}

.menu-item:armed {
    -fx-background-color: #AAAAAA;
}



/************************IDs BEGIN BELOW***************************/

/*BEGIN stuff for main menu*/
#mainMenuRoot {
    -fx-background-image: url("/res/imgs/Earth.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 1000 593;
    -fx-background-position: center center;
    -fx-effect: innershadow(three-pass-box, black, 100, 0.5, 0, 0);
}

#menuTitle {
    -fx-font-size: 72pt;
}

#menuSubtitle {
    -fx-font-size: 12pt;
}

#menuLabel {
    -fx-font-size: 16pt;
}


#mainMenuPane {
    -fx-border-color: #FF8300;
    -fx-border-radius: 20;
    -fx-background-color: #000000EE;
    -fx-background-radius: 20;
}

#paneLabel {
    -fx-font-size: 20pt;
}

#highScoreLabel {
    -fx-font-size: 18pt;
}

    /* BEGIN stuff for saveSelector */
    
    #nameField {
        -fx-font-size: 14pt;
    }
    
    #diffChooser {
        -fx-font-size: 14pt;
    }
    
    #newSaveLabel {
        -fx-font-size: 14pt;
    }
    
    #loadSaveLabel {
        -fx-font-size: 14pt;
    }
    /* END stuff for saveSelector */
    
    
    
    
/*END stuff for main menu*/




/*BEGIN stuff for game UI*/

#KALChat {
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-font-size: 10pt;
}

#KALChat .scroll-pane {
    -fx-border-radius: 20;
    -fx-background-radius: 20;
/*  -fx-font-size: 10pt;*/
}

#KALChat .scroll-pane .viewport {
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-font-size: 10pt;
}

#KALChat .scroll-pane .content {
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-font-size: 10pt;
}

#detailsPane {
    -fx-border-color: #FF8300;
    -fx-border-radius: 20;
    -fx-background-color: #000000CC;
    -fx-background-radius: 20;
}

#detailsPaneTitle {
    -fx-font-size: 50pt;
}

#tutorialPane {
    -fx-border-color: #FF8300;
    -fx-border-radius: 20;
    -fx-background-color: #000000CC;
    -fx-background-radius: 20;
}

#tutorialPaneTitle {
    -fx-font-size: 50pt;
}

#tutorialPageTitle {
    -fx-font-size: 25pt;
}

#pausePane {
    -fx-border-color: #FF8300;
    -fx-border-radius: 20;
    -fx-background-color: #000000CC;
    -fx-background-radius: 20;
}

#pausePaneTitle {
    -fx-font-size: 50pt;
}

#alertPane {
    -fx-border-color: #FF8300;
    -fx-border-radius: 20;
    -fx-background-color: #000000CC;
    -fx-background-radius: 20;
}

#endGamePane {
    -fx-border-color: #FF8300;
    -fx-border-radius: 20;
    -fx-background-color: #000000CC;
    -fx-background-radius: 20;
}

#endGamePaneTitle {
    -fx-font-size: 46pt;
}

#endGameLabel {
    -fx-font-size: 24pt;
}

/*END stuff for game UI*/

